* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #edebe9;
}
.szachownica {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
}
.szachownica > * {
  width: auto;
}
.notacjanum {
  display: flex;
}
.notacjaalf {
  display: flex;
}
.notacja {
  display: flex;
}
