* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #edebe9;
}
.calosc {
  display: flex;
  flex-wrap: wrap;
}
.info {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  margin-left: 3em;
  font-size: larger;
  flex-basis: 10%;
}
#nazwa {
  font-size: xx-large;
}
.szachownica {
  display: grid;
  margin: 0 auto;
  margin-top: 5em;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
}
.numalf {
  position: relative;
  bottom: -100px;
  left: 5px;
  cursor: default;
}
.numlic {
  position: relative;
  left: 105px;
  cursor: default;
}
.lista {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 12%;
  margin-top: 5em;
}
.lista > * {
  font-weight: 550;
  width: 100%;
  padding: 0.2em;
  border-radius: 5px;
  margin: 0.1em;
  cursor: pointer;
}
.wiekszytext {
  font-size: x-large;
  font-weight: 900;
  cursor: default;
}
i {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 640px) {
  .szachownica {
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
  }
  .numalf {
    bottom: -50px;
  }
  .numlic {
    left: 52px;
  }
  i {
    font-size: small;
  }
  .lista {
    flex-basis: 100%;
  }
  .info {
    flex-basis: 100%;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .szachownica {
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(8, 75px);
  }
  .numalf {
    bottom: -75px;
  }
  .numlic {
    left: 78px;
  }
  i {
    font-size: medium;
  }
  .lista {
    flex-basis: 100%;
  }
  .info {
    flex-basis: 100%;
  }
} /* <640px, <1024px, >=1024px */
