* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #edebe9;
}
.calosc {
  display: flex;
}
.szachownica {
  display: grid;
  margin: 0 auto;
  margin-top: 5em;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
}
.numalf {
  position: relative;
  bottom: -100px;
  left: 5px;
}
.numlic {
  position: relative;
  left: 105px;
}
@media (max-width: 640px) {
  .szachownica {
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
  }
  .numalf {
    bottom: -50px;
  }
  .numlic {
    left: 52px;
  }
  i {
    font-size: small;
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .szachownica {
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(8, 75px);
  }
  .numalf {
    bottom: -75px;
  }
  .numlic {
    left: 78px;
  }
  i {
    font-size: medium;
  }
} /* <640px, <1024px, >=1024px */
