@mixin mytext {
  letter-spacing: 1.6px;
  word-spacing: 2px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: lowercase;
  font-family: Georgia, serif;
}
@mixin imgformat {
  width: 15em;
  cursor: pointer;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
  background-image: url("imgs/bg.png");
  background-size: 100% 150%;
}
.container {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #ffffff;
}
.header {
  justify-content: center;
  flex-basis: 100%;
  height: 30%;
  &__h1 {
    text-align: center;
    font-size: 60px;
    @include mytext();
    margin-top: -100px;
  }
  &__transition {
    border: none;
    user-select: none;
    &--logo {
      width: 6em;
      cursor: pointer;
    }
  }
}
.nav {
  margin-top: 30em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  &__chess--image {
    @include imgformat();
    margin-right: 2em;
  }
  &__chart--image {
    @include imgformat();
    margin-left: 2em;
  }
}
.footer {
  flex-shrink: 0;
  color: #ffffff;
  height: 50px;
  margin-top: -50px;
  text-align: right;
  font-size: 40px;
  @include mytext();
}
