*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
header{
    background-color: aqua;
    width: 100%;
}
main{
    background-color: gainsboro;
    width:75%;
}
main>article{
    width: 50%;
    background-color: gray;
}
aside{
    background-color: lightskyblue;
    width:25%;
}
footer{
    background-color: mediumblue;
    width: 100%;
}