* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  background-image: url("https://wallpaperaccess.com/full/1698006.jpg");
  background-size: 100% 150%;
}
.arrow {
  width: 6em;
  cursor: pointer;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -6em;
}
.opening {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  margin-left: 3em;
  font-size: larger;
  flex-basis: 15%;
  background-image: url("https://i.pinimg.com/originals/7f/6b/2d/7f6b2dc31228ae3de478d36d93542d6b.jpg");
  border-radius: 15px;
  border: 3px solid rgb(80, 35, 35);
  background-size: 100% 75%;
}
.chessboard {
  margin: 0 auto;
  margin-top: 5em;
  padding: 1.5em;
  background-image: url("https://img.freepik.com/free-photo/photo-texture-old-faded-paper_105034-424.jpg?size=338&ext=jpg");
  border-radius: 15px;
  border: 3px solid rgb(80, 35, 35);
}
.copyright {
  justify-self: flex-end;
  height: 100%;
  flex-basis: 100%;
  text-align: end;
  display: flex;
  flex-direction: column-reverse;
}
.chessboard__column {
  position: relative;
  bottom: -100px;
  left: 5px;
  cursor: default;
}
.chessboard__line {
  position: relative;
  left: 105px;
  cursor: default;
}
.list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 12%;
  margin-top: 5em;
  margin-right: 1em;
  background-image: url("https://i.pinimg.com/originals/7f/6b/2d/7f6b2dc31228ae3de478d36d93542d6b.jpg");
  background-size: 100% 45%;
  border-radius: 15px;
  border: 3px solid rgb(80, 35, 35);
}
.list > * {
  font-weight: 550;
  width: 100%;
  padding: 0.2em;
  border-radius: 5px;
  margin: 0.1em;
  cursor: pointer;
}
.list__category {
  font-size: 25px;
  cursor: default;
}
i {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.2em;
}
.opening__name {
  font-size: 35px;
  font-weight: 600;
  cursor: default;
}
@media (max-width: 1200px) {
  .opening {
    margin-bottom: 3em;
    height: 12em;
  }
}
@media (max-width: 670px) {
  .calosc {
    margin-top: -2em;
  }
  .chessboard__column {
    bottom: -50px;
  }
  .chessboard__line {
    left: 52px;
  }
  i {
    margin: 0 auto;
    font-size: larger;
    padding: 0.2em;
  }
  .list {
    margin: 0 auto;
    margin-top: 2em;
    flex-basis: 100%;
  }
  .opening {
    margin: 0 auto;
    margin-top: 2em;
    flex-basis: 100%;
    text-align: center;
  }
  .opening > * {
    margin: 0 auto;
  }
  .list > * {
    margin: 0 auto;
    text-align: center;
    font-weight: 450;
  }
}
@media (min-width: 1020px) and (max-width: 1200px) {
  .calosc {
    margin-top: -1em;
  }
  .chessboard__column {
    bottom: -120px;
  }
  .chessboard__line {
    left: 123px;
  }
  i {
    font-size: x-large;
    margin: 0 auto;
    padding: 0.1em;
  }
  .list {
    margin: 0 auto;
    margin-top: 2em;
    flex-basis: 40%;
  }
  .opening {
    margin: 0 auto;
    margin-top: 2em;
    flex-basis: 100%;
    text-align: center;
  }
  .opening > * {
    margin: 0 auto;
  }
  .list > * {
    margin: 0 auto;
    text-align: center;
    font-weight: 450;
  }
}
@media (min-width: 856px) and (max-width: 1020px) {
  .calosc {
    margin-top: -1em;
  }
  .chessboard__column {
    bottom: -100px;
  }
  .chessboard__line {
    left: 105px;
  }
  i {
    font-size: larger;
    margin: 0 auto;
    padding: 0.1em;
  }
  .list {
    flex-basis: 40%;
    margin: 0 auto;
    margin-top: 2em;
  }
  .opening {
    margin: 0 auto;
    margin-top: 2em;
    flex-basis: 100%;
    text-align: center;
  }
  .opening > * {
    margin: 0 auto;
  }
  .list > * {
    margin: 0 auto;
    text-align: center;
    font-weight: 450;
  }
}
@media (min-width: 670px) and (max-width: 856px) {
  .calosc {
    margin-top: -1em;
  }
  .chessboard__column {
    bottom: -80px;
  }
  .chessboard__line {
    left: 83px;
  }
  i {
    font-size: larger;
    padding: 0.1em;
  }
  .list {
    margin: 0 auto;
    margin-top: 2em;
    flex-basis: 30%;
  }
  .opening {
    margin: 0 auto;
    margin-top: 2em;
    flex-basis: 100%;
    text-align: center;
  }
  .opening > * {
    margin: 0 auto;
  }
  .list > * {
    margin: 0 auto;
    text-align: center;
    font-weight: 450;
  }
}
@media (min-width: 570px) and (max-width: 670px) {
  .chessboard__column {
    bottom: -65px;
  }
  .chessboard__line {
    left: 70px;
  }
  i {
    font-size: larger;
    padding: 0.1em;
  }
  .list {
    margin: 0 auto;
    margin-top: 2em;
    flex-basis: 30%;
  }
  .opening {
    margin: 0 auto;
    margin-top: 2em;
    flex-basis: 100%;
    text-align: center;
  }
  .opening > * {
    margin: 0 auto;
  }
  .list > * {
    margin: 0 auto;
    text-align: center;
    font-weight: 450;
  }
}
